@{
  Layout = "_Layout";
}

@model Claires.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")<br><br>

    <input type="submit" value="Add new Client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>
